// Define variables for your color scheme

// For example:
$red: #c11f1b;
$blue: #7eb2b0;
$yellow: #d6b917;
$orange: #d85f0f;
$green: #219638;
$black: #000000;
$dark-gray: #616668;
$light-gray: #F4F4F4;
$border-gray: #E6E6E6;
